{% extends "index.html" %}
{% load static %}
{% block start %}
  <form method="POST">
    {%  csrf_token %}
    <label>First Name</label>
    <input name="firstname"  />
    <br/>
    <br/>
    <label>Username</label>
    <input name="username"  />
    <br/>a
    <br/>
    <label>Password</label>
    <input name="password"  />
    <br/>
    <br/>
   
    <select name="user_type">
        <option value="principal">principal</option>
        <option value="teacher">teacher</option>
        <option value="student">student</option>
    </select>
    <button type="submit">Register</button>
  </form>
  {% if messages %}
    {% for message in messages %}
    <p>{% if message.tags %} class="{{message.tags}}" {% endif %} {{message}}</p>
    {% endfor %}
{% endif %}
{% endblock %}
  